<p><% flash.each do |key, value| %>
    <%= content_tag(:id, value, class: "#{key}") %>
   <% end %></p>

<div class = "container px-5 px-sm-0">
 <div class = "row">
  <%= render 'movies/movie', user: @user, movie: @new_movie %>
  <div class = "col-md-8 offset-md-1">
   <h2>Movie detail</h2>
   <table class= "table" >
    <tbody>
     <tr>
      <td>
       <%= link_to user_path(@movie.user) do %>
        <%= image_tag @movie.user.get_profile_image(100,100) %></br>
        <%= @movie.user.name %>
       <% end %>
      </td>

      <td>
       <%=link_to @movie.title, movie_path(@movie) %>
      </td>

      <td>
       <%= @movie.body %>
      </td>
      <% if @movie.user == current_user %>
       <td>
        <%= link_to 'Edit', edit_movie_path(@movie) , class: "btn btn-sm btn-success edit_movie_39793" %>
       </td>
       <td>
        <%=link_to 'Destroy',movie_path(@movie),method: :delete, class: "btn btn-sm btn-danger destroy_movie_39800", "data-confirm" => "本当に消しますか？" %>
       </td>
      <% end %>
      <td>
       <% if @movie.favorited_by?(current_user) %>
      <%= link_to movie_favorites_path(@movie), method: :delete do %>
        ♥<%= @movie.favorites.count %> いいね
      <% end %>
    <% else %>
      <%= link_to movie_favorites_path(@movie), method: :post do %>
        ♡<%= @movie.favorites.count %> いいね
      <% end %>
      </td>
  <% end %>
     </tr>
    </tbody>
   </table>
  </div>
 </div>
</div>